{% load static %}
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class='flex-wrapper'>
            {% if request.path != '/' and request.path != '/home/' %}
            <header>
                {% include "header.html" %}
            </header>
            {% endif %}
            <main>
                {% block content %}{% endblock content %}
            </main>
            <footer>
                {% include "footer.html" %}
            </footer>
        </div>
    </body>
</html>